*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ms_star::before, .ms_star::after {
    content: "";
    display: inline-block;
    width: 10%;
    border-radius: 2px;
    height: 3px;
    background-color: #ffff;
    vertical-align: middle;
}

/*Colors*/

.ms_bg_blue-water {
    background-color: rgb(44, 62, 80);
}

.ms_bg_green {
    background-color: rgb(26, 188, 156);
}

.ms_footer_top {
    background-color: rgb(58, 84, 109);
}

/*JUMBOTRON*/

#jumbotron {
    padding-top: 100px;
}

.ms_jumbotron_img {
    max-width: 250px;
}

#jumbotron .fa-star {
   font-size: 20px;
   color: white;
   vertical-align: middle;
}

/*PORTFOLIO*/

#portfolio .ms_star::before {
    background-color: black;
}

#portfolio .ms_star::after {
    background-color: black;
}

/*ABOUT*/



